@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>Welcome to Contact Me!</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eagle Heights<br />
    Madison, WI 53705<br />
    <abbr title="Phone">Cell Phone:</abbr>
    608-216-5402
</address>

<address>
    <strong>Email:</strong>   tonytong002@gmail.com<br />
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>